<form action="{{url_for('connexion')}}" method="post" name="connexion">
    {{ form.hidden_tag() }}
    
    <div class="form-group">
        <label for="pseudo">Pseudo de l'utilisateur</label>
        {{form.pseudo(class_="form-control", placeholder_=pseudo)}}
        <small id ="pseudo" class="form-text text-muted">Entrer le pseudo de l'utilisateur</small>
    </div>

    <div class="form-group">
        <label for="email">Mail de l'utilisateur</label>
        {{form.email(class_="form-control", placeholder_=email)}}
        <small id="email" class="form-text text-muted">Entrer l'email de l'utilisateur</small>
    </div>


    <div class="form-group">
        <label for="password">Mot de passe</label>
        {{ form.password(class_="form-control", placeholder_="Mot de passe") }}
        <small id="password" class="form-text text-muted">Entrer un mot de passe</small>
    </div>

    <p><input type="submit" value="Ajouter"></p>
</form>