{% extends "partials/conteneur.html" %}

{% block body %}
    <!-- section principale -->
    <main>
            <h2>Présentation</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in bibendum arcu. Nullam at ligula turpis. Morbi sit amet sollicitudin sapien. Curabitur sit amet nisi dolor. Aliquam erat volutpat.</p>
            <img src="https://www.moma.org/media/W1siZiIsIjUyNzUyMCJdLFsicCIsImNvbnZlcnQiLCItcmVzaXplIDEwMjR4MTAyNFx1MDAzZSJdXQ.jpg?sha=d172aa966e03ed80" alt="Image d'œuvre du MoMA" width="500">
    </main>
{% endblock %}
