{% extends "partials/conteneur.html" %}

{% block contenu %}
<div class="cent_container">
    <h1 class="text-center my-4">The MoMA in 100 random Artworks and Artists</h1>

    <div class="cent_gallery">
        {% for item in images %}
            {% if item.type == "artwork" %}
                <a href="{{ url_for('fiche_oeuvre', id_oeuvre=item.id) }}" class="cent_gallery-item">
                    <img src="{{ item.image_url }}" alt="Image">
                </a>
            {% else %}
                <a href="{{ url_for('fiche_artiste', id_artist=item.id) }}" class="cent_gallery-item">
                    <img src="{{ item.image_url }}" alt="Image">
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}
