{% extends "partials/conteneur.html" %}

{% block contenu %}
    <!-- Section principale -->
    <div class="container">
     <div class="sidetext">
            <!-- Texte à gauche -->
            <section class="half">
                <h2>Documentation and reproductibility</h2>
                <p>etc
                </p>
            </section>
    </div>

    <div class="sideimage">
            <!-- Image à droite -->
            <section class="half">
                <img src="statics/images/house_railroad.jpg" alt="House by the railroad" width="500">
                <p class="photolegend"><i>House by the railroad</i>, Edward Hopper (1925)</p>
            </section> 
     </div>
    </div>
    

{% endblock %}