{% extends "partials/conteneur.html" %}

{% block contenu %}
    <div class="fiche_artiste">
    <table class="artist_table">
        <tr><th colspan="2">
            <div class="titre_artiste">
        <!-- Titre centré (nom de l'artiste ou de l'oeuvre) -->
         {% for data in bio %}
        <h2>{{ data.DisplayName }}</h2>
        </th></tr>
        
        <!-- Image principale -->
        <tr><td colspan="2">
        <div class="image_artiste">
            <img src="{{ image }}" alt="No picture available in the database 🚫" class="img-fluid">
        </div>
        </td></tr>

        <!-- Texte-->
        <div class="texte_artiste"></div>
            <div>
                
                <tr><th>Description</th>
                    <td>{{data.DisplayName}} is a {{data.Nationality}} artist who was born in {{data.BirthDate}} and passed away in {{data.DeathDate}}.</td>
                </tr>
                    <tr>
                    <th>Affiliated artistic mouvements</th>
                    {% for movement in movements %}
                    <td>
                        {{movement}}
                    </td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Affiliated genres</th>
                    <td>
                    {% for genre in genres %}
                       <ul>{{genre}} </ul> 
                    
                    {% endfor %}
                </td>
                </tr>
                <tr>
                    <th>Artworks</th>
                    <td>
                        {% for artwork in artworks %}
                        
                            <a href="{{ url_for('fiche_oeuvre', id_oeuvre=artwork[2]) }}">
                                {{ artwork[0] }}
                            </a>
                            <br>
                            <img src="{{ artwork[1] }}" alt="No picture available in the database 🚫" class="img-fluid">
                        
                        {% endfor %}
                    </td>
                </tr>
                </table>


            </p>
            </div>
        </div>
        {% endfor %}
        <div class="bibliography">
                <h2>Bibliography</h2>
        </div>

        <div class="biblio_set">
            <label for="numResults" class="element">Number of results: </label>
            <input type="number" id="numResults" value="10" min="1" max="50" class="element">
            <button id="loadBiblio" data-id="{{ bio[0].WikiID }}" class="element"> 📚 See bibliography</button>
        </div>

    <!-- Zone où la bibliographie va s'afficher -->
    <div id="bibliographyContainer" class="biblio_contents"></div>

    <script>
        document.getElementById("loadBiblio").addEventListener("click", function() {
            let idArtist = this.getAttribute("data-id");
            let numResults = document.getElementById("numResults").value;
            let biblioContainer = document.getElementById("bibliographyContainer");
        
            fetch(`/artistes/${idArtist}/bibliography?limit=${numResults}`)
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        biblioContainer.innerHTML = `<p style="color:red;">${data.error}</p>`;
                        return;
                    }
        
                    let biblioHTML = `
                    <h3>Your bibliography</h3>
                    <form id="biblioForm" action="/ajouter_au_panier" method="POST">
                        <ol>`;

                    data.forEach(book => {
                        biblioHTML += `
                            <li>
                                <input type="checkbox" name="bibliography[]" value="${book.Title}">
                                <strong>${book.Title}</strong> (${book.Publication_year})  
                                <br>
                                ${book.Authors}
                                <br>
                                ${book.Publisher}
                                <br>
                                OpenAlex ID: <a href="${book.OpenAlex_ID}" target="_blank">${book.OpenAlex_ID}</a>
                                <br>
                                Type: ${book.Type} | 
                                Access status: ${book.OpenAccess}
                            </li>`;
                    });
                     biblioHTML += `
                        </ol>

                        <button type="submit">➕ Add to basket</button>

                    </form>`;

                    biblioContainer.innerHTML = biblioHTML;
                })
                .catch(error => {

                    biblioContainer.innerHTML = `<p style="color:red;">Error while loading the bibliography.</p>`;
                    console.error("Error:", error);

                });
        });
    </script>
{% endblock %}