{% extends "partials/conteneur.html" %}
{% block contenu %}
<!-- section principale -->
<main>
    <div class="container">
        <!-- Texte à gauche -->
        <div class="sidetext">
            <div>
            <h2>Welcome to BiblioMoMA</h2>
            <p>Get ready to start your bibliographical research in the collections of the MoMA.</p>
            <p>To learn more about how the website works, visit <a href="/guide"><b>Instructions</b></a>.</p>
            </div>
            <div>
            <h2>Presentation</h2>
            <p>BiblioMoMA is a web application designed to provide users with information and bibliographic references on the works and artists featured in the collections of the Museum of Modern Art (MoMA). This application utilizes datasets produced by MoMA itself, available on GitHub, and cross-references them with data from OpenAlex (an open bibliographic database) and WikiData, allowing for an in-depth exploration of sources and authors related to the artworks.</p>
            <p>BiblioMoMA makes discovering artists and artworks easier thanks to an advanced search system and the ability for users to create an account and compile a personalized collection of bibliographic references.</p>
            <p>User-friendly and visually engaging due to the integration of images into its layout, BiblioMoMA is designed to be accessible to all audiences, from middle school students to art history researchers. However, its purpose extends beyond individual visitors: the application also serves as an innovative model for collection enhancement, aimed at other cultural institutions, including museums, looking to enrich public access to their heritage.</p>
            <p>The BiblioMoMA web application was developed by a young team of students from the TNAH (Digital Technologies Applied to History) Master’s program at the École nationale des Chartes, as part of their final-year project.</p>
        </div>
        </div>
        <!-- Carrousel d'images à droite -->
        <div class="carousel">
            <div class="carousel-container">
                {% for image in images %}
                <div class="carousel-slide">
                    <img src="{{ url_for('static', filename='images/' + image) }}" alt="Slide">
                </div>
                {% endfor %}
            </div>
            
            <!-- Navigation Buttons -->
            <button class="carousel_button" id="prevBtn">&#10094;</button>
            <button class="carousel_button" id="nextBtn">&#10095;</button>
        </div>
    </div> 

    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <div class="container_home">
        <!-- Lien vers la page Le MoMA en 100 oeuvres et artistes -->
        <h3>Features</h3>
            <div class="gallery">
                <a target="/cent_oeuvres_artistes" href="/cent_oeuvres_artistes">
                  <img src="statics/images/campbell.jpg" alt="The MoMA in 100 works and artists" width="600" height="300">
                </a>
                <div class="desc">The MoMA in 100 works and artists</div>
            </div>
    </div>

    <!-- Bouton pour générer une page random -->
    <div class="container">
        <button class="random_button" onclick="window.location.href='/page-random'">Go to a random page</button>
    </div>
    
</main>
{% endblock %}