{% extends "partials/conteneur.html" %}
{% block contenu %}
<!-- section principale -->
<main>
    <div class="container">
        <!-- Texte à gauche -->
        <div class="sidetext">
            <h2>Welcome to BiblioMoMA</h2>
            <p>Get ready to start your bibliographical research in the collections of the MoMA.</p>
            <p>To learn more about how the website works, visit <a href="/guide"><b>Instructions</b></a>.</p>
        </div>
        <!-- Carrousel d'images à droite -->
        <div class="carousel">
            <div class="carousel-container">
                {% for image in images %}
                <div class="carousel-slide">
                    <img src="{{ url_for('static', filename='images/' + image) }}" alt="Slide">
                </div>
                {% endfor %}
            </div>
            
            <!-- Navigation Buttons -->
            <button class="carousel_button" id="prevBtn">&#10094;</button>
            <button class="carousel_button" id="nextBtn">&#10095;</button>
        </div>
    </div> 

    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <div class="container_home">
        <!-- Lien vers la page Le MoMA en 100 oeuvres et artistes -->
        <h3>Features</h3>
            <div class="gallery">
                <a target="/cent_oeuvres_artistes" href="/cent_oeuvres_artistes">
                  <img src="statics/images/campbell.jpg" alt="The MoMA in 100 works and artists" width="600" height="300">
                </a>
                <div class="desc">The MoMA in 100 works and artists</div>
            </div>
    </div>
   
    <!-- Barre de recherche et lien vers la recherche avancée-->
    <div class="container_home_search">
        <input type="text" placeholder="Search for an artist or artwork..." class="search_home">
        <a href="/recherche"><b>Advanced search</b></a>
    </div>

    <!-- Bouton générer une page random -->
    <div class="container">
        <button class="random_button" onclick="window.location.href='/page-random'">Go to a random page</button>
    </div>
</main>
{% endblock %}