{% extends "partials/conteneur.html" %}

{% block contenu %}
    <!-- Section principale -->
    <div class="container">
     <div class="sidetext">
            <!-- Texte à gauche -->
            <section class="half">
                <h2>How to use BiblioMoMA</h2>
                <p>BiblioMoMA makes your research easier by providing you with a bibliography on each artwork or artist within the museum's collections. It is easy to use: in the search bar, enter the artwork or artist you are interested in. A notice will be displayed, detailed important information (such as date of production or dates of birth and death, origin, artistic movement...) as well as a bibliography sourced from OpenAlex. The Advanced search page allows you to specify your request.
                </p>
            </section>
    </div>

    <div class="sideimage">
            <!-- Image à droite -->
            <section class="half">
                <img src="statics/images/christinas_world.jpg" alt="Christina's world" width="500">
                <p class="photolegend"><i>Christina's world</i>, Andrew Wyeth (1949)</p>
            </section> 
     </div>
    </div>
    

{% endblock %}