{% extends "partials/conteneur.html" %}

{% block contenu %}
    <!-- Section principale -->
    <div class="container">
     <div class="sidetext">
            <!-- Texte à gauche -->
            <section class="half">
                <h2>How to use BiblioMoMA</h2>
                <p>BiblioMoMA makes your research easier by providing you with a bibliography on each artwork or artist within the museum's collections. It is easy to use: 
                    <ol>
                        <li>Go to the <a href="/recherche"><b>Search</b></a> page</li>
                        <li>Enter the artwork or artist you are interested in</li>
                        <li>A notice will be displayed, detailed important information (such as date of production or dates of birth and death, origin, artistic movement...). Below, you can <b>generate a bibliography</b> sourced from OpenAlex.</li>
                        <li>Once you have generated the bibliography, you may add items to your basket. Remember to <b>sign up</b> or <b>log in</b> before you do so!</li>
                    </ol>
                </p>
            </section>
    </div>

    <div class="sideimage">
            <!-- Image à droite -->
            <section class="half">
                <img src="statics/images/christinas_world.jpg" alt="Christina's world" width="500">
                <p class="photolegend"><i>Christina's world</i>, Andrew Wyeth (1949)</p>
            </section> 
     </div>
    </div>
    

{% endblock %}