{% extends "partials/conteneur.html" %}

{% block title %}Ma Collection Bibliographique | Bibliomoma{% endblock %}

{% block contenu %}

<div class="container">
    <h1 class="my-4">My Library Collection</h1>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    {% if bibliographies %}
        <!-- Ajout du bouton toggle pour le graphique -->
        <div class="mb-4">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" 
                    data-bs-target="#collapseGraph" aria-expanded="false" aria-controls="collapseGraph">
                <i class="fas fa-chart-pie me-2"></i>View statistics
            </button>
            
            <div class="collapse mt-3" id="collapseGraph">
                <div class="card card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="mb-3">Types Crossref</h5>
                            <canvas id="typeChart" width="400" height="300"></canvas>
                        </div>
                        <div class="col-md-6">
                            <h5 class="mb-3">Open Access</h5>
                            <canvas id="openAccessChart" width="400" height="300"></canvas>
                            <!-- Ajout de l'explication des catégories Open Access -->
                            <div class="description mt-3">
                                <h3>Open Access categories explained :</h3>
                                <ul>
                                    <li><strong>Diamond</strong> : Published in a fully open-access journal, at no cost to authors or readers.</li>
                                    <li><strong>Gold</strong> : Published in a fully open-access journal.</li>
                                    <li><strong>Green</strong> : Access for a fee on the publisher's website, but a free version is available in an open-access repository.</li>
                                    <li><strong>Hybrid</strong> : Free under open license in a paying magazine.</li>
                                    <li><strong>Bronze</strong> : Available free of charge on the publisher's website, but without a clearly defined license.</li>
                                    <li><strong>Closed</strong> : All other articles not freely accessible.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion" id="bibliographieAccordion">
            {% for biblio in bibliographies %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ biblio.id }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                            data-bs-target="#collapse{{ biblio.id }}" aria-expanded="false" 
                            aria-controls="collapse{{ biblio.id }}">
                        <small class="ms-2 text-muted">(add at {{ biblio.date_ajout.strftime('%d/%m/%Y') }})</small>
                    </button>
                </h2>
                <div id="collapse{{ biblio.id }}" class="accordion-collapse collapse" 
                     aria-labelledby="heading{{ biblio.id }}" data-bs-parent="#bibliographieAccordion">
                    <div class="accordion-body">
                        <div class="d-flex justify-content-end mb-3">
                            <a href="{{ url_for('supprimer_du_panier', panier_id=biblio.id) }}" class="btn btn-sm btn-danger">
                                <i class="fas fa-trash"></i> Remove
                            </a>
                            
                        </div>
                        <div class="bibliography-content">
                            <pre class="text-wrap">{{ biblio.bibliographie }}</pre>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-between my-4">
            <a href="{{ url_for('accueil') }}" class="btn btn-secondary">Continuate search</a>
            <div class="btn-group" role="group">
                <form action="{{ url_for('exporter_bibliographies') }}" method="post" class="me-2">
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-file-pdf"></i>Exoport pdf </button>    
            </div>
        </div>

        <!-- Ajout du script pour les graphiques -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // Graphique pour les types de documents
                var typeCtx = document.getElementById('typeChart').getContext('2d');
                fetch("{{ url_for('afficher_graphique_types') }}")
                    .then(response => response.json())
                    .then(data => {
                        new Chart(typeCtx, {
                            type: 'pie',
                            data: {
                                labels: Object.keys(data),
                                datasets: [{
                                    data: Object.values(data),
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 
                                        'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)',
                                        // Ajoutez plus de couleurs si nécessaire
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                responsive: true,
                                plugins: {
                                    legend: { position: 'bottom' },
                                    title: {
                                        display: true,
                                        text: "Distribution by types CrossRef"
                                    }
                                }
                            }
                        });
                    });

                // Graphique pour l'open access
                var oaCtx = document.getElementById('openAccessChart').getContext('2d');
                fetch("{{ url_for('afficher_graphique_open_access') }}")
                    .then(response => response.json())
                    .then(data => {
                        new Chart(oaCtx, {
                            type: 'bar',
                            data: {
                                labels: Object.keys(data),
                                datasets: [{
                                    data: Object.values(data),
                                    backgroundColor: [
                                        'rgba(46, 204, 113, 0.2)', // Diamond
                                        'rgba(241, 196, 15, 0.2)', // Gold
                                        'rgba(39, 174, 96, 0.2)',  // Green
                                        'rgba(142, 68, 173, 0.2)', // Hybrid
                                        'rgba(230, 126, 34, 0.2)', // Bronze
                                        'rgba(231, 76, 60, 0.2)'   // Closed
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                responsive: true,
                                plugins: {
                                    legend: { position: 'bottom' },
                                    title: {
                                        display: true,
                                        text: "distibution by Open Acess"
                                    }
                                }
                            }
                        });
                    });
            });
        </script>
    {% else %}
        <div class="alert alert-info">
            Your bibliographic collection is empty. Search for artists and use the "Add to my library" button 
            on their detail pages to generate bibliographies.
        </div>
    {% endif %}
</div>
{% endblock %}